@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
   @apply  w-full min-h-screen flex items-center justify-center;
  }
}

@layer components {
  button {
    @apply btn-transition cursor-pointer hover:scale-110
  }

  .btn-transition {
    transition: all;
    animation: ease;
    transition-duration: 0.3s;
  }

  .intro__text__color {
    background: url('../public/5.png');
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #F4BF96;
}

*::-webkit-scrollbar-thumb:active {
  background-color: black;
}